@import url('/fonts/font-awesome-4.2.0/css/font-awesome.min.css');

html,
body {
	font-family: arial, sans-serif;
	color: black;
	background-color: #ccc;
	text-align: left;
	padding-top:15px;
}
#mainLogo {
	max-width: 50%;
	height: auto;
}
#header {
	position:relative;
}
#header-top-right {
	clear:right; 
	float:right; 
	padding-top:10px; 
	width:350px; 
	text-align:right;
}
#returnTab {
	width:9em;
	font-size:.9em; 
	text-align:center; 
	background-color:#F9F9F9;
border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top:1px solid #00769d; 
	border-left:1px solid #00769d; 
	border-right:1px solid #00769d; 
	position:absolute; 
	top:-21px; 
	right:-1px; 
	padding-bottom:3px;
}
#header #returnTab a {
	color:#666;
	font-weight:normal;
}

img {
	border: none;
}
.fltlt img, .fltrt img {
	margin: 1em;
}
.nobullet {
	list-style-type: none;
}
.funded {
	font-style: italic;
}
/***********************************
*****                          *****
***     WRAPPER CONTENTS       ***
*****                          *****
***********************************/
#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color:#eee;
	border: solid 1px #09c;
}

/***********************************
*****                          *****
***       HEADING CONTENTS       ***
*****                          *****
***********************************/
#skiptocontent{
	height:1px;
	width:1px;
	margin-left:-1px;
	margin-top:-1px;
	overflow:hidden;
}
#skiptocontent, #skiptocontent a, #skiptocontent a:visited {
	color: #000;
	background-color: #ccc;
	font-size: 80%;
	text-decoration: none;
}

#skiptocontent a:hover, #skiptocontent a:active {
	text-decoration: underline;
}
.nav {
	margin: 0;
	float: right;
	padding: 1em 1em 0 0;
	clear: none;
}
#header a {
	text-decoration: none;
	color: #fff;
}
#header a:hover, #header a:active {
	text-decoration: underline;
}
#header {
	font-family: Century Gothic, Arial, Sans-Serif;
	background-color: #09c;
	color: white;
	font-size: 80%;
}
#header img {
	margin:0px;
	padding:0px;
}
#nav a, #nav a:visited {
	color: #fff;
	text-decoration: none;
}
#header a:active, #header a:hover {
	color: #fff;
}

#header img {
	margin-top: 0;
	padding: 0;
	clear: none;
}

#header table td {
	vertical-align: top;
}

.searchBtn {
	margin-left: .2em;
	border-style: inset;
}
.social-elements {
	display: none;
}
.first-level-nav button {
	display: none;
}
#menu {
	width: 100%;
	border-bottom: solid 2px #fff;
	background:#390;
	clear: both;
	min-height: 3.7em;
}

ul#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #390;
	font-family: Century Gothic, Arial,Sans-Serif;
	border-top: 2px solid #fff;
	font-size: 100%;
	width: 100%;
}

#nav li {
	display: block;
	float: left;
	width: 9em;
	list-style-type:none;
	color:#FFF;
	text-align: left;
	background:#390;
	border-right: solid 1px #fff;
	margin: 0;
	padding: 0;
}


#nav li a {
	display: block;
	width: 8em;
	color:#FFF;
	text-decoration: none;
	margin: 0;		
	padding:.5em .5em 0 .5em;
	height: 3em;
}
#nav li.events li {
	width:245px;
	padding:0px;
	margin:0px;
}
#nav li.events li a {
	width:225px;
	padding:10px;
	margin:0px;
}
#nav li.events li.doubleWide {
	width:491px;
}
#nav li.events li.doubleWide a {
	width:471px;
}
#nav li a:hover, #nav li a:active {
	background: #09C;
	color: #fff;
	text-decoration: none;
}

#nav li ul {
	position: absolute;
	width: 9em;
	left: -9999em;
	background:#390;
	margin:0;
}
#nav li ul ul.third-level-nav-parent {
	left: -9999em;
}
#nav li ul li a {
	border-top: solid 1px white;
}

#nav li:hover ul, #nav li.sfhover ul, #nav li:active ul {
	left: auto;
	background: #09C;
	color:#FFF;
	border: 0;
	padding: 0;
	margin: 0;
	z-index:1000;
}

#nav li li a:hover, #nav li li a:active, #nav li.sfhover ul li a {
	background:#09C;
	color: #fff;
	border: 0;
	margin:0;
	height: 3em;
	border-top: solid 1px white;
	text-decoration: none;
}
ul.treemenuhidden {
	display:none;
}

/***********************************
*****                          *****
***     MAIN CONTENT STYLE     ***
*****                          *****
***********************************/

h1 {
	font-size: 160%;
	margin: 0;
	padding-top: .5em;
	text-transform: uppercase;
}
#pagecontent h1 {
	text-transform:none;
}
h2 {
	font-size: 135%;
	margin-left: 5px;
}

h3 {
	font-size: 115%;
	padding: 0;
	margin: .5em;
	margin-left: 5px;
}

h4 {
	font-size: 115%;
	margin-left: 5px;

}
#pagecontent p {
	line-height: 1.2;
}
li.pacericonlist {
	list-style-image:url(/images/pacericon_small.gif);
	list-style-type:none;
	margin-top: 1em;
}
li.pdficonlist {
	list-style-image:url(../images/pdficon_small.gif);
	list-style-type:none;
	margin-top: 1em;
}
li.wordiconlist {
	list-style-image:url(../images/wordicon_small.gif);
	list-style-type:none;
}
li.videoiconList {
	list-style-image:url(../images/movieReelIcon_small.gif);
	list-style-type:none;
}
li.ppticonList {
	list-style-image:url(../images/ppt_sml.png);
	list-style-type:none;
}
/***********************************
*****                          *****
***        FOOTER STYLE        ***
*****                          *****
***********************************/
footer {
	background: #fff;
}
#footer1 {
	clear:both;
	background-color: #09c;
	font-size: 75%;
	padding-bottom: 0;
	margin-bottom: .1em;
	color: #fff;
	margin-top: 1px;
}

table.footer {
	width: 100%;
}
.footer td {
	width: auto;
}

td.footerlinks {
	text-align: right;
}

#footer2 {
	background-color: #fff;
	font-size: 80%;
	padding: .1em .1em .1em .1em;
	margin-top: 0;
	color: #000;
}

#footer2 p {
	padding: 0;
	margin: 5px;
}

#footer1 a, #footer1 a:visited { 
	color: #fff;
	text-decoration: none;
}

#footer2 a, #footer2 a:visited {
	color: #000;
	text-decoration: none;
	padding: .2em;
}

#footer1 a:hover, #footer1 a:active {
	color: #fff;
	text-decoration: underline;
}

#footer2 a:hover, #footer2 a:active {
	color: #000;
	text-decoration: underline;
	background-color: #fff;
}


.noborder {
	background-color: white;
}

#footCopyRight {
	text-align: left;
	padding-left: .5em;
	font-size: 75%;
}

.extfooter {
	padding: .5em;
}

/* LEFT NAV STYLES BELOW */

/***********************************
*****                          *****
***     BREADCRUMB STYLE       ***
*****                          *****
***********************************/

#breadcrumb {
	padding: 0;
	color: black;
	margin: 0;
}

#breadcrumb a, #breadcrumb a:visited {
	color: black;
	text-decoration: none;
}

#breadcrumb a:hover, #breadcrumb a:active {
	color: black;
	text-decoration: underline;
}


/***********************************
*****                          *****
***     MAIN CONTENT STYLE     ***
*****                          *****
***********************************/

#maincontent {
	margin: 0;
	padding: 0em;
	background: #fff;
}
#pagetoporange, #topbar {
	background-color: #f93;
	color: black;
	padding: .5em;
	margin-top:.5em;
	font-size: 80%;
}

#pagecontent {
	background-color: #fff;
	color: black;
	margin: .5em 0 0 208px;
	padding: .5em;
	font-size: 80%;
	position:relative;
	z-index:0;
}

body.singleCol #pagecontent {
	margin-left: 0px;
}

#maincontent #pagecontent.narrowContent {
	max-width: 60em;;
	margin: 0px auto;
}
@media screen and (min-width: 900px) {
.narrowContent > h1, .narrowContent > h2, .narrowContent > h3 {
	margin-left: -15px;
	margin-right: -15px;
}
}
#pagecontent p {
	padding: 0;
	margin: 1em .5em;
}

#pagecontent a {
	font-weight: bold;
	text-decoration: underline;
	color: #007FA9;
}
#pagecontent a:visited {
	color:#6A3B73;
}

#pagecontent a:hover, #pagecontent a:active {
	color: #00B4F0;
}

#pagecontent li {
	margin-bottom:1em;
}

#pagetoporange table, #topbar table {
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#pagetoporange h1, #topbar h1 {
	padding: 0;
	margin: .5em 0 0 0;
	text-transform: uppercase;
}

/***********************************
*****                          *****
***    LEFT NAVIGATION STYLE     ***
*****                          *****
***********************************/

#leftbar {
	float: left;
	padding: 0;
	margin: .5em 0 0 0;
	width: 200px;
	background-color: #eee;
}
#leftbar ul {
	list-style-type: none;
	margin: 0 0 0 .5em;
	padding: 0;
}
#leftbar ul li a {
	display: block;
	background-color: #09c;
	color: #fff;
	padding: .5em;
	padding-right:10px;
	margin: 0 0 .2em 0;
	text-decoration: none;
	font-size: 75%;
}
#leftbar ul ul li a {
	background-color: #006A8C;	
}
#leftbar ul li a:hover {
	background-color: #ccc;
	display: block;
	color: #000;
}
#leftbar ul li a.page {
	background-color: #f93;
	color: #000;
}
ul.treemenu li {
  font-size: 95%;
  margin-left: 0.5em;
}
#leftbar ul ul {
	margin-left:0px;
}

#leftbar li.hasSubNav li.topheader a {
  background-color: #004C64;
  background-image: none;
  color: #fff;
  cursor: default;
  font-size: .8em;
  text-align: center;
  font-weight:bold;
}

/*
###################################################################################################
--Floating SubNav Code --
For IE7 you have to give the parent element a higher z-index than the absolutley positioned child 
(in this case the UL that contains the subnav to get it to correctly stack the items.
###################################################################################################
*/
#leftbar ul li.hasSubNav {
	position:relative;
	z-index:50;
}
#leftbar ul li.hasSubNav:hover ul.treemenuhidden, #leftbar ul li.hasSubNav:active ul.treemenuhidden{
	display:block;
	position:absolute;
	background-color:#666;
	padding:10px;
	left:192px;
	top:0px;
	width:250px;
	z-index:10;
}
#leftbar ul li.hasSubNav a{
	background-image:url(/images/greaterthan-white.gif);
	background-position:right center;
	background-repeat:no-repeat;	
}
#leftbar ul li.hasSubNav a.page{
	background-image:url(/images/greaterthan-white-down.gif);
}
#leftbar ul li.hasSubNav ul a.page{
	background-image:none;
}
#leftbar ul li.hasSubNav li a{
	background-image:none;	
}

/* ####################################################### 
END Floating SubNav Code
##########################################################*/


/***********************************
*****                          *****
***  CUSTOM FONT ICONS           ***
*****                          *****
***********************************/

@font-face {
	font-family: 'Pacer-Icons';
	src:url('/fonts/Pacer-Icons/Pacer-Icons.eot?-vnl49p');
	src:url('/fonts/Pacer-Icons/Pacer-Icons.eot?#iefix-vnl49p') format('embedded-opentype'),
		url('/fonts/Pacer-Icons/Pacer-Icons.woff?-vnl49p') format('woff'),
		url('/fonts/Pacer-Icons/Pacer-Icons.ttf?-vnl49p') format('truetype'),
		url('/fonts/Pacer-Icons/Pacer-Icons.svg?-vnl49p#Pacer-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Pacer-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pacer-font {
	font-family: 'Pacer-Icons';
}
.external-link {
	
}
a.external-link:after {
	content: " \65 ";
	font-family: "Pacer-Icons";
	font-size: 0.6em;
	font-weight:normal;
}
a.external-link {
	margin-right:5px;
}
.icon-external_link:before {
	font-family: "Pacer-Icons";
	content: "\65";
	font-size: 60%;
	margin-left: 0.5em;
}
.icon-caret_left:before {
	content: "\3c";
}
.icon-caret_right:before {
	content: "\3e";
}
.icon-check_mark:before {
	content: "\221a";
}
.icon-play_button:before {
	content: "\70";
}
.icon-facebook:before {
	content: "\66";
}
.icon-youtube:before {
	content: "\79";
}
.icon-pacer_logo:before {
	content: "\6c";
}
.icon-hamburger_basement:before {
	content: "\e600";
}


.screenReaderText, #pagecontent .screenReaderText{
	display:block;
	width:1px;
	position: absolute;
	left: -9000px;
}
.fltrt{
	float:right;
	margin-right:5px;
	margin-left:10px;	
}
.fltlt{
	float:left;
	margin-left:5px;
	margin-right:10px;	
}
#pagecontent .alertBox{
	font-size:.9em;
	background: #FF9;
	margin: 10px;
	padding: 8px;
	float: right;
	width: 225px;
	border: 2px solid #F93;
}
#pagecontent .alertBox h2{
	border:none;
	text-align:center;
	font-size:1.1em;
}
#pagecontent .alertBox ul{
	margin-top:0px;
	padding-left:20px;
}
#pagecontent .alertBox ul li{
	margin-bottom:.5em;
}
h2.enhanced, h3.enhanced{
	border: 2px solid #CC6D0E;
	text-align: center;
	background: #FF8811;
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}
.extralinktext{
	display:block;
	position:absolute;
	left:-9999px;
}
.centered{text-align:center;}

.resources {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #007299;
  border-radius: 8px;
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}
.quote-box, .quote-box-short {
	background:#EEEEEE url(/images/quote-box.png) no-repeat;
	background-size:100% 100%;
	padding:40px 40px 10px 40px;
	width:50%;
	border-radius:8px;
	font-style:italic;
}
.quote-box-short {
	background:#EEEEEE url(/images/quote-box-short.png) no-repeat;
	background-size:100% 100%;
}

#nav li.twoCol li a {
  height: 2.5em;
}
#nav li li{
  background:#1E5303;}
#nav li.twoCol li:nth-child(even) a {
  	width: 200px;
	padding-left:25px;
}
#nav li.twoCol ul {
  background:#fff;
  width: 39em;
}


#pagecontent .greenBar {
	background:#246C00;
	color:#fff;
	padding:20px 10px;
	margin-top:40px;
	margin-left:-6px;
	margin-right:-6px;
}
#pagecontent.narrowContent > h1.greenBar, #pagecontent.narrowContent > h2.greenBar, #pagecontent.narrowContent > h3.greenBar {
	margin-left: -20px;
	margin-right: -20px;
}

#pagecontent a .fa-external-link{
	color:#EA8729;
	font-size:.8em;
	font-weight:normal;
}
.fa-file-pdf-o {
	color:red;
}
a .fa-file-pdf-o, a .fa-external-link {
	font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
	text-decoration:none;
	margin-left:3px;
}


.crclImg {
  border: 2px solid #000;
  border-radius: 1000px;
  box-shadow: 0 0 8px #000;
}

#contactBox {
	padding:.2em;
	margin-left:8px;
	font-size:12px; 
	text-align:center;
	margin-top:30px;
	border:1px solid #FF9933;
	background:#fff;
	color:#424242;
	border-radius:8px;
}


#helpfulQuestion {
    float: right;
    font-weight: bold;
    margin: 10px 18px 10px 10px;
    padding: 2px 8px;
	border:1px solid #FF9933;
	border-radius:8px;
}
#helpfulQuestion p {
    margin-top: 10px;
}
#helpfulQuestion .fa {
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}
#helpfulQuestion .fa:hover {
    color: #de8025;
}
#helpfulQuestion.extraSpace {
    padding-bottom: 20px;
    padding-top: 20px;
}
#helpfulQuestion #likeButton {
}
#helpfulQuestion #dislikeButton {
}
.addthis_sharing_toolbox {
    float: right;
    padding-right: 0px;
	clear:none !important;
}
#project-social img {
	float:right;
	margin:0px 0px 0px 3px;
}
#project-social #sm-label {
	float:right;
}
#pagecontent .btn-cta:before {
  background-color: #921C17;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  content: ">";
  display: inline-block;
  font-size: 0.75em;
  height: 45px;
  line-height: 45px;
  margin-left: 8px;
  padding: 0 8px 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#pagecontent .btn:hover{
  background:#FF5A2C;
  /*background: linear-gradient(to bottom, #FF6E46 0%, #CB251F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to bottom, #ff8766 0%, #e63831 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#pagecontent .btn-cta, #pagecontent .btn, #pagecontent a.btn:link, #pagecontent a.btn:visited {
  color: #fff;
}
#pagecontent a.btn:hover, #pagecontent a.btn:active {
  color: #fff;
}
#pagecontent .btn {

  background:#FF5A2C;
  background: linear-gradient(to bottom, #FF5A2C 0%, #B2211C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

  border-radius: 3px;
  box-shadow: 2px 2px 4px #666;  
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  height: 45px;
  letter-spacing: 0.05em;
  line-height: 45px;
  padding: 0 15px 0px 15px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  margin:5px;

}
#pagecontent .btn.btn-cta {
	  padding: 0 35px 0px 15px;
}

#pagecontent .btn-blue {
	background:#0099cc; 
	background: linear-gradient(to bottom, #0099cc 0%, #004E68 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #fff;
}
#pagecontent .btn-blue:hover{
  background:#0099cc; 
  background: linear-gradient(to bottom, #4EADCC 0%, #0099cc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#pagecontent .btn-cta.btn-blue:before {
  background-color: #004E68;
}

/* TABBED PANNEL CSS ADJUSTMENTS */
.tabbedPanel {
	font-size:.9em;
}
#pagecontent .ui-tabs a:hover {
	text-decoration:none;
}
#pagecontent .ui-tabs .ui-tabs-nav li {
  margin: 1px 0.2em 0 0;
}
#pagecontent .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}

