html,
body {
	color: black;
	background-color: white;
}
p {
	margin: 25px 0 25px 0;
}

a {
	color: black;
	background-color: white;
	text-decoration: none;
}

td {
	vertical-align: top;
	padding: .5em;
}

img {
	border: none;
	padding: 0 .5em .5em .5em;
}

li {
	padding-bottom: .5em;
}
.noPrint,
object,
.nav,
.searchBtn,
#nav,
.footerlinks,
#footer2,
#leftbar ul,
#rightBar,
#skiptocontent,
.printemail {
	display: none;
}

#breadcrumb {
	margin: 5px 0 5px 0;
	padding: 0;
}

#maincontent {
	margin: 5px 0 5px 0;
	padding: 0;
}

#rightbar  {
	width: 20%;
	float: right;
}

#footer1 {
	color: black;
	background-color: white;
	padding-top: 1em;
	border-top: solid 1px black;
	font-size: 10pt;
}
li.pdficonlist {
	list-style-image:url(../images/pdficon_small.gif);
	list-style-type:none;
}
li.wordiconlist {
	list-style-image:url(../images/wordicon_small.gif);
	list-style-type:none;
}
div#header {
	width:100%;
	text-align:center;
}
#header img {
	margin:10px auto;
}