@charset "utf-8";
/* CSS Document */

form {
	margin:0;
	padding:0;
}
fieldset {
	margin:1em 0;
	border:none;
	border-top:1px solid #ccc;
}
legend {
	margin:1em 0;
	padding:0 .5em;
	color:#036;
	background:transparent;
	font-size:1.3em;
	font-weight:bold;
}
label {
	float:left;
	width:130px;
	padding:0 1em;
	text-align:right;
}
div.hr {
	width:100%;
	clear:left;
	padding:1em 0em;
}
fieldset div {
	margin-bottom:.5em;
	padding:0;
	display:block;
}
fieldset div input, fieldset div textarea {
	width:230px;
	border-top:1px solid #555;
	border-left:1px solid #555;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:1px;
	color:#333;
}
fieldset div.fm-check {
	clear:left;
	padding:1em 0em;
	width:100%;
}
fieldset div.fm-check input {
	margin-left:35px;
	width:20px;
	float:left;
	border:none;
}
fieldset div.fm-check label {
	text-align:left;
	float:left;
	width:300px;
	margin:0px;
}
fieldset div select {
	padding:1px;
}

div.fm-multi div {
	margin:5px 0;
}
div.fm-multi input {
	width:10px;
	border:none;
}
div.fm-multi label {
	display:block;
	width:180px;
	padding-left:3em;
	text-align:left;
}
div.fm-multi img {
	vertical-align:middle;
}
#fm-submit {
	clear:both;
	padding-top:1em;
	text-align:center;
}
#fm-submit input {
	border:1px solid #333;
	padding:2px 1em;
	background:#555;
	color:#fff;
	font-size:100%;
}
#fm-submit input:hover {
	background:#306;
}
#fm-submit input:active {
	background:#000;
}

input:focus, textarea:focus {
	background:#FFFFCC;
	color:#000;
}
fieldset div.fm-req {
	font-weight:bold;
}
#formContainer {
	padding:1em;
	min-width:470px;
	text-align:left;
}
#errorMsg {
	padding:20px;
}
.nobot {
	display:none;
}
.hidden {
	display:none;
}