#services h2, #contact h2 {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 100%;
}

#services p, #contact p {
	margin-top: 0;
}

#section1, #section2, #section3 {
	list-style-type: decimal;
}

#section1 li, #section2 li, #section3 li {
	margin-bottom: 1em;
}

#survey h2 {
	border-top: solid 1px black;
}

#main img {
	padding: .2em;
}

p#services {
	text-align: center;
	font-weight: bold;
}

p.text {
	text-align: right;
	font-size: .8em;
	font-weight: bold;
}

a.services {
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	background: transparent;
}

a.services:visited {
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	background: transparent;
}

a.services:hover {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background: transparent;
}

.question {
	font-weight: bold;
	font-style: italic;
}

.cmVolume {
	font-weight: bold;
	font-size: .9em;
}

.cmBy {
	font-style: italic;
	font-size: .9em;
}

.cmBox {
	border: ridge #FF0000 3px;
	padding: .5em;
	margin: .5em;
}

.cmQ {
	font-weight: bold;
	font-style: italic;
}