html,
body {
	font-family: arial, sans-serif;
	color: black;
	background-color: #ccc;
	text-align: left;
}

abbr,
acronym,
help {
	border: none;
	cursor: help;
}

.oldBrowser {
	display: none;
}

img {
	border: none;
}

.map {
	padding: 0 1em 1em 1em;
	float: left;
}

.nobullet {
	list-style-type: none;
}
.funded {
	font-style: italic;
}
#directions {
	float: left;
}

/***********************************
*****                          *****
***     WRAPPER CONTENTS       ***
*****                          *****
***********************************/

#wrapper {
	min-width: 980px;
	max-width: 1200px;
	margin: 0 auto;
	background: #eee;
	border: solid 1px #09c;
	color: black;
}

/***********************************
*****                          *****
***       HEADING CONTENTS       ***
*****                          *****
***********************************/
#skiptocontent, #skiptocontent a, #skiptocontent a:visited {
	color: #000;
	background-color: #ccc;
	font-size: 80%;
	text-decoration: none;
}

#skiptocontent a:hover, #skiptocontent a:active {
	text-decoration: underline;
}

.nav {
	margin: 0;
	float: right;
	padding: 1em 1em 0 0;
	clear: none;
}

#header a {
	text-decoration: none;
	color: #fff;
}

#header a:hover, #header a:active {
	text-decoration: underline;
}

#header {
	font-family: Century Gothic, Arial, Sans-Serif;
	background-color: #09c;
	color: white;
	font-size: 80%;
}

#nav a, #nav a:visited {
	color: #fff;
	text-decoration: none;
}

#header a:active, #header a:hover {
	color: #fff;
}

#header img {
	margin-top: 0;
	padding: 0;
	clear: none;
}

#header table td {
	vertical-align: top;
}

.searchBtn {
	margin-left: .2em;
	border-style: inset;
}

#menu {
	width: 100%;
	border-bottom: solid 2px #fff;
	background:#390;
	clear: both;
	min-height: 3.6em;
}

ul#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #390;
	font-family: Century Gothic, Arial,Sans-Serif;
	border-top: 2px solid #fff;
	font-size: 100%;
	width: 100%;
}

#nav li {
	display: block;
	float: left;
	width: 10em;
	list-style-type:none;
	color:#FFF;
	text-align: left;
	background:#390;
	border-right: solid 1px #fff;
	margin: 0;
	padding: 0;
}


#nav li a {
	display: block;
	width: 9em;
	color:#FFF;
	text-decoration: none;
	margin: 0;		
	padding:.5em .5em 0 .5em;
	height: 3em;
}

#nav li a:hover, #nav li a:active {
	background: #09C;
	color: #fff;
	text-decoration: none;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	background:#390;
	margin:0;
}

#nav li ul li a {
	border-top: solid 1px white;
}

#nav li:hover ul, #nav li.sfhover ul, #nav li:active ul {
	left: auto;
	background: #09C;
	color:#FFF;
	border: 0;
	padding: 0;
	margin: 0;
}

#nav li li a:hover, #nav li li a:active, #nav li.sfhover ul li a {
	background:#09C;
	color: #fff;
	border: 0;
	margin:0;
	padding: .5em .5em 0 .5em;
	height: 3em;
	border-top: solid 1px white;
	text-decoration: none;
}


/***********************************
*****                          *****
***    PACER Stories STYLES      ***
*****                          *****
***********************************/

.stories td {
	padding: 1em;
	text-align: center;
}

.stories img {
	margin: .5em;
	border: solid 1px black;
}

/***********************************
*****                          *****
***     BREADCRUMB STYLE       ***
*****                          *****
***********************************/

#breadcrumb {
	padding: 0;
	color: black;
	margin: 0;
}

#breadcrumb a, #breadcrumb a:visited {
	color: black;
	text-decoration: none;
}

#breadcrumb a:hover, #breadcrumb a:active {
	color: black;
	text-decoration: underline;
}

/***********************************
*****                          *****
***     MAIN CONTENT STYLE     ***
*****                          *****
***********************************/

h1 {
	font-size: 160%;
	margin-top: 0;
	padding-top: .5em;
	text-transform: uppercase;
}

h2 {
	font-size: 135%;
	padding: 0;
	margin-bottom: .2em;
	text-transform: uppercase;
}

h3 {
	font-size: 115%;
	padding: 0;
	margin-bottom: .2em;
	text-transform: uppercase;	
}

h4 {
	font-size: 115%;
}
#pagetoporange {
	background-color: #f93;
	color: black;
	padding: .5em;
	margin: 0;
}

#pagecontent {
	background-color: #fff;
	color: black;
	margin: .5em 0 0 .5em;
	padding: 1em 1em .5em 1em;
}

#pagecontent p {
	padding: 0 0 1em 0;
	margin: 0;
	font-size: 100%;
}

#pagecontent a {
	font-weight: bold;
	text-decoration: none;
	color: #069;
}

#pagecontent a:hover, #pagecontent a:active {
	text-decoration: underline;
}

#pagecontent h2 {
	margin: 0;
	padding: 0;
}

#maincontent {
	background-color: #eee;
	/*margin: .5em;
	padding: 0;*/
	margin-top: 0;
	padding: .5em .5em .5em 0;
	font-size: 80%;
}

#pagetoporange table {
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#pagetoporange h1 {
	padding: 0;
	margin: .5em 0 .5em 0;
	text-transform: uppercase;
}

#maincontent p {
	clear: none;
}

.printemail {
	float: right;
	padding: 0;
	margin: 0;
}

.printemail a, .printemail a:visited {
	color: black;
	text-decoration: none;
}

.printemail a:hover, .printemail a:active {
	color: black;
	text-decoration: underline;
}

.printemail p {
	padding: 0;
	margin: 0;
}

.printemail img {
	padding: 0 .2em 0 0;
	margin: 0;
}

.agenda td {
	vertical-align: top;
}

/***********************************
*****                          *****
***        FOOTER STYLE        ***
*****                          *****
***********************************/

#footer1 {
	background-color: #09c;
	font-size: 75%;
	padding-bottom: 0;
	margin-bottom: .1em;
	color: #fff;
	margin-top: 1px;
}

table.footer {
	width: 100%;
}
.footer td {
	width: auto;
}

td.footerlinks {
	text-align: right;
}

#footer2 {
	background-color: #fff;
	font-size: 80%;
	padding: .1em .1em .1em .1em;
	margin-top: 0;
	color: #000;
}

#footer2 p {
	padding: 0;
	margin: 5px;
}

#footer1 a, #footer1 a:visited { 
	color: #fff;
	text-decoration: none;
}

#footer2 a, #footer2 a:visited {
	color: #000;
	text-decoration: none;
	padding: .2em;
}

#footer1 a:hover, #footer1 a:active {
	color: #fff;
	text-decoration: underline;
}

#footer2 a:hover, #footer2 a:active {
	color: #000;
	text-decoration: underline;
	background-color: #fff;
}

img {
	border: none;
	padding: 0;
}

.noborder {
	background-color: white;
}

#footCopyRight {
	text-align: left;
	padding-left: .5em;
	font-size: 75%;
}

.extfooter {
	padding: .5em;
}

img {
	border: none;
}