@charset "UTF-8";
/* CSS Document */

/*
Dark Blue: #1552cc
Ligh Blue: #afc4ed

Dark Green: #43912f
Light Green: 76c362

Dark Orange: #e9831d
Light Orange: #fcc084
*/


@media only screen and (max-width: 415px) {
	#top-right-image {display: none !important;}
	#contentheader {margin-right : 0px !important;}
	#pagecontent {font-size : 100% !important;}
}
@media only screen and (min-width: 415px) {
	#top-right-image {display: block}
	#contentheader {font-size : 100% !important;}
	#pagecontent {font-size : 100% !important;}

}

.ui-dialog-titlebar {
	float: none !important;
	border: 0;
	padding: 0;
}
.ui-dialog-titlebar-close {
	top: 0;
	right: 0;
	margin: 0;
	z-index: 999;
}

.ui-widget-header {
	 border: 0px !important;
	 background: #fff !important;
	color: #ffffff;
	font-weight: bold;
}

#subDiv{
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: #fff !important;
	overflow: auto;
}

#contentwrapper{
	position:relative;
	margin-top:.5em;
}
#top-section h1 {
	text-shadow: 1px 1px 1px #666;
	letter-spacing:.03em;
}


h1, h2, h3, h4{
	text-transform:none;
	margin-left:0px;
}
#discipline-content{
	font-family:'Calibri', Arial, san-serif;
	min-height:400px;

	margin-left:480px;
	margin-left:0px;
	background:#fff;
	padding:10px 10px 40px 40px;
	position:relative;
	z-index:10;
}
#discipline-content h1{
	margin-bottom:15px;
}
#discipline-content.cat-iep{
	border-left:1px solid #1552cc;
	background:#ffffff url(/school-discipline-information/images/blue-grad.png) repeat-y top left;
}
#discipline-content.cat-iep h1{
	color:#1552cc;
	font-size: 1.7em;
}
#discipline-content.cat-iep #top-section{
	border-bottom:3px solid #1552cc;
}
#discipline-content.cat-504{
	border-left:1px solid #43912f;
	background:#ffffff url(/school-discipline-information/images/green-grad.png) repeat-y top left;
}
#discipline-content.cat-504 h1{
	color:#43912f;
}
#discipline-content.cat-504 #top-section{
	border-bottom:3px solid #43912f;
}
#discipline-content.cat-none{
	border-left:1px solid #e9831d;
	background:#ffffff url(/school-discipline-information/images/orange-grad.png) repeat-y top left;
}
#discipline-content.cat-none h1{
	color:#e9831d;
	margin-bottom:15px;
}
#discipline-content.cat-none #top-section{
	border-bottom:3px solid #e9831d;
}
#contentheader { margin-right: 520px; }

#bcrumb{
	padding-left:20px;
	padding-bottom:5px;
}
#discipline-content #bcrumb a{
	color:#777;
	text-decoration:none;
	font-weight:normal;
}
#discipline-content #bcrumb a:hover{
	color:#33F;
	text-decoration:none;
	font-weight:normal;
}

#toc {
	display:none;
	width:375px;
	background:#fff;
	padding:10px;
	z-index:1;
	position: absolute;
	height: 800px;
	overflow-y: auto;
	font-size: 0.8em;
}
#toc h2 {
	font-size:1.3em;
	text-align:center;
}
#toc ul {
	padding-left:20px;
}
#toc ul ul{
	border-left:1px solid RGB(150,150,150);
}
#toc ul ul ul{
	border-left:1px solid RGB(100,100,100);
}
#toc ul ul ul ul{
	border-left:1px solid RGB(50,50,50);
}
#toc li { 
	margin:1em 15px 1em 5px; 
	list-style:none;
}

ol.letters {
	list-style-type:lower-alpha;
}
#sectionCarryOver{
	background:#EEE;
	padding:2px 5px 5px 15px;
	margin:5px 0;
	border: 1px solid #999;
}
#sectionCarryOver h2{
	font-size:1em;
}
#sectionCarryOver p{
	margin-left:30px;
}
.tip{
	color:#BB5E00;
	width: 90%;
	margin: 10px auto;
	border: 1px solid #ccc;
	padding: 10px;
}
#discipline-content a {
	font-weight: bold;
	color: #09C;
}
#statutes a {
	color: #F00;
}
#loadtoc { font-size: 0.9em; }
#hideToc{
	display:none;
	position:absolute;
	left:-50px;
	background:url('/school-discipline-information/images/left-arrow.png') top left no-repeat;
	width:30px;
	height:26px;
}
#showToc{
	position:absolute;
	background:url('/school-discipline-information/images/show-toc.png') top left no-repeat;
	width:189px;
	height:26px;
}
#top-section{margin-top:20px;}

#toc a:link { color: #000; text-decoration:none; }
#toc .sectionIep a:link { color: #1552cc; }
#toc .section504 a:link { color: #43912f; }
#toc .sectionNoSpecEd a:link { color: #e9831d; }
#toc .sectionIep a:visited { color: #0c3078; text-decoration:underline; }
#toc .section504 a:visited { color: #27541b; text-decoration:underline; }
#toc .sectionNoSpecEd a:visited { color: #74410e; text-decoration:underline; }
#toc a:hover { text-decoration:underline; }
#toc a:active { text-decoration:underline; }

#top-right-image{
	position:absolute; 
	top:-6px; 
	right:-6px;
	border:1px solid #999;
	max-width: 50%;
	height: auto;
}

#statutes{
	font-size: .9em;
	margin-top:35px;
	padding-top:5px;
	border-top:1px solid #ccc;
}
#statutes a{
	color:red; 
	text-decoration:underline;
	font-weight:normal;
}
#statutes h3{
	color:black;	
}#discipline-content li { margin-bottom: 1em; }
#discipline-content li  li { margin-top: 1em; }
.statute {
	color: #F00;
	vertical-align:super;
}
.legalterm{
	width: 90%;
	margin: 10px auto;
	border: 1px solid #ccc;
	padding: 0 10px;
	color:#900;
	font-weight:bold;
}
.pgnum{display:none;}
#url {display:none;}
.def { border-bottom:1px solid #ccc; }
.def-list {width:10em; position:absolute; bottom:10px; left:40px;}
#discipline-content .def-list a{color:#999;}
.space {margin-left:10px; margin-right:10px;}

#main a.buttonLink {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	border-radius:8px;
	text-indent:0;
	border:1px solid #469df5;
	display:block;
	margin:10px auto;
	color:#ffffff;
	font-size:1.5em;
	font-weight:bold;
	font-style:normal;
	height:2.7em;
	line-height:2.7em;
	width:8em;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}
#main a.buttonLink:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
#main a.buttonLink:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
/* ------------------------- SIMPLE MODAL CSS -------------------------------- */

/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#000; background-color:#fff; border:4px solid #1552cc; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#1552cc;}
