  <div id="leftbar">
    <h3 class="menu-toggle">Menu</h3>
    <a class="assistive-text" href="#pagecontent" title="Skip to content">Skip to content</a>
    <ul id="menu-about-us" class="nav-menu">
      <li id="header" class="current-page-parent"><a href="/cmh/youth-advisory-board/">Youth Advisory Board</a></li>
      <li id="activities"><a href="/cmh/youth-advisory-board/about.asp">Youth Advisory Board Activities</a></li>
      <li id="stories"><a href="/cmh/youth-advisory-board/student-success-stories.asp">Student Success Stories</a></li>
      <li id="positions"><a href="/cmh/youth-advisory-board/positions-are-available.asp">Youth Advisory Board Positions are Available</a></li>
    </ul>
  </div>
