/* CSS Document */
body {
	min-width:400px;
}
.header #mainlogo {
	width:624px;
	max-width:100%;
	max-height:104px;
}
div.affix{
	position:fixed;
	top:0px;
	width:100%;
}
div.affix-top{
	position:absolute;
	top:0px;
	width:100%;
}

.navbar-collapse, .collapse {
	padding:0px;
}
#wewillgentopnav {
	text-align:center;
}

@media (max-width: 890px) {
	.header #header-right #imagerow{
		display: none;
	}
	
	
	
}
@media (max-width: 550px) {
	.header #header-right #preLinks{
		display: none;
	}
	
	.header #header-right {
		top:-23px;
	}
	
}

