<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
<title>PACER E-blast</title>
<style type="text/css">
a {
	color: #09c;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:active {text-decoration: underline;}
img {
	border:none;
	}
</style>
</head>
<body style="font-family: arial, sans-serif; background-color: #eee;">
<table width="100%" align="center" style="max-width:800px; min-width:550px;"><tr><td style="color:#858585; font-style:italic; font-size:.8em;">Make a donation to PACER and PACER&rsquo;s National Bullying Prevention Center! </td>
<td align="right">
<div id="viewWeb" style="padding-bottom:5px; font-size:14px;"> 
<a style="color:#999; font-size:.9em; font-weight:normal;" href="http://www.pacer.org/bullying/emails/2014-rwr-invite-bully-v3.html">view this email in your browser</a>
<img src="http://www.pacer.org/images/ff_1x1_workaround.gif" width="1" height="1" style="display:none" alt="" /><img src="http://www.pacer.org/images/ff_1x1_workaround_grey_cccccc.jpg" width="1" height="1" style="display:none" alt="" />
</div>
</td></tr></table>
 
<table align="center" id="main" cellspacing="3" cellpadding="10" style="border: solid 1px #0099cc; background-color: #ffffff; font-family: arial, sans-serif; max-width:800px; min-width:550px;">
 <tr>
<td colspan="2" align="center" valign="middle" id="head1">
  <img align="left"  width="37%" style="width:37%;" border="0" src="http://www.pacer.org/newsletters/eblast/images/PACER-Champions-for-Children-Logo-2-color.gif" alt="PACER Center - Champions for Children" />
  <img align="right" width="62.5%" style="width:62.5%;"border="0" src="http://www.pacer.org/bullying/images/homepage-extra/nbpc-banner-wht-color.jpg" alt="PACER's National Bullying Prevention Center"  />
  </td>		
</tr>
		<tr>
			<td width="34%" bgcolor="#339900" style="padding: 5px;">&nbsp;</td>
			<td width="66%" bgcolor="#ff9933" style="padding: 5px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" style="font-family: arial, sans-serif;">
		<!-- ############################ CONTENT HERE ################################### -->	
			<h3>Give to the Max Day is Thursday, November 13, 2014 &ndash; make a donation to 
PACER and PACER&rsquo;s National Bullying Prevention Center!
</h3>
    
   <table width="100%"><tr>
   <td valign="top"><a href="https://givemn.org/organization/Pacer-Center"><img align="left" hspace="20" src="http://www.pacer.org/newsletters/eblast/images/GTMD-Stacked-Logo-2014.png" width="160" height="215" alt="Donate Now through GiveMN" /></a></td>
   <td valign="top"><p style="line-height:1.3">Go to <a href="https://givemn.org/organization/Pacer-Center">PACER&rsquo;s GiveMN page</a> to donate on November 13!<br />
  <br />
With your support, we will be able to continue to expand our important services for parents of children with disabilities and our programs that teach all children and young adults about bullying prevention. <br />
Did you know?</p>
 <ul type="disc">
  <li style="margin-bottom:1em; line-height:1.3">Every year, 13 million children in America are bullied &ndash; that&rsquo;s one in every three students &ndash; and chances are it is happening to someone you care about.</li>
  <li style="margin-bottom:1em; line-height:1.3">PACER&rsquo;s bullying prevention websites received over <br />
   1 million views from 196 countries last year alone.</li>
  <li style="margin-bottom:1em; line-height:1.3">Last year, PACER responded to over 44,000 requests, many from parents of children with disabilities, for information and assistance.</li>
 </ul>
 <p style="line-height:1.3">Be a Champion for Children: donate to PACER Center and PACER&rsquo;s National Bullying Prevention Center!</p>
   </td></tr></table>
<table id="DonateButton" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
  <td align="center"><table border="0" cellspacing="0" cellpadding="0">
    <tr>
  <td><a href="https://givemn.org/organization/Pacer-Center" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #EB7035; border-top: 12px solid #EB7035; border-bottom: 12px solid #EB7035; border-right: 18px solid #EB7035; border-left: 18px solid #EB7035; display: inline-block;">Donate Now</a></td>
    </tr>
   </table>
  </td>
    </tr>
   </table> 
  <p>&nbsp;</p> 
   <p>If you cannot contribute on November 13, you can <a href="http://www.pacer.org/help/donate.asp">click here any time to donate to PACER</a>!</p>

   <!-- ############################ CONTENT END HERE ################################### -->	

			<div id="footerInfo" align="center">
   <hr />
<h3 style="color: #666">PACER Eblast</h3>

<p>
<a href="http://www.pacer.org/forms/optIn-eblasts.asp">Subscribe</a> 
&#8226;
<a href="http://www.pacer.org/forms/optOut-eblasts.asp">Unsubscribe</a><br /><br />
<img border="0" src="http://www.pacer.org/images/PACER-Logo-Web.gif" width="430" height="104" alt="PACER Center logo: Champions for Children with Disabilities" />
</p>

<table cellpadding="10" width="100%" id="addressinfo"><tr><td>
<div align="center">
8161 Normandale Blvd., Minneapolis, Minnesota 55437<br />
Voice: (952) 838-9000<br />
Toll-free in Greater Minnesota: (800) 537-2237 <font face="Arial">&#8226;</font> Fax: 
(952) 838-0199<br />
E-mail: <a href="mailto:PACER@PACER.org">PACER@PACER.org</a> <font face="Arial">
&#8226;</font> Web: <a href="http://www.PACER.org/">www.PACER.org</a>
</div>
</td></tr></table>
</div>

</td>
		</tr>
</table>
</body>
</html>