<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>PACER Center</title>
</head>
<body style="font-family: arial, sans-serif; max-width:650px; margin:10px auto;">
<table cellpadding="20">
	<tr>
		<td><p><img align="right" hspace="10" src="http://www.pacer.org/newsletters/eblast/images/walker-with-help.jpg" width="175" height="269" alt="" />Dear PACER friends,</p>
			<p>It&rsquo;s just hours away now… the clock is ticking on 2012. </p>
			<p><strong>Don&rsquo;t wait a minute longer</strong>! Help make a  difference in the lives of children. </p>
			<p><strong><a href="http://www.pacer.org/help/donate.asp">Donate now</a></strong> to ensure a brighter future for children and youth with  disabilities and for those who struggle with bullying.</p>
			<p> Thank you for your support and have a wonderful  New Year.</p>
			<p>Sincerely,</p>
			<table width="100%" id="signatures">
				<tr>
					<td><img src="http://www.pacer.org/images/PaulaGoldberg-signature-blue.png" alt="" width="195" height="41" border="0" /></td>
				</tr>
				<tr>
					<td>Paula F. Goldberg<br />
						Executive Director</td>
				</tr>
			</table>
			
			<!-- ############################ CONTENT END HERE ################################### -->
			
			<div id="footerInfo" align="center">
				<hr />
				<h3 style="color: #666"><img border="0" src="http://www.pacer.org/images/PACER-Logo-Web.gif" width="430" height="104" alt="PACER Center: Champions for Children with Disabilities" /></h3>
				<div align="center"> 8161 Normandale Blvd., Minneapolis, Minnesota 55437<br />
					Voice: (952) 838-9000<br />
					Toll-free in Greater Minnesota: (800) 537-2237 <font face="Arial">&#8226;</font> Fax: 
					(952) 838-0199<br />
					E-mail: <a href="mailto:PACER@PACER.org">PACER@PACER.org</a> <font face="Arial"> &#8226;</font> Web: <a href="http://www.PACER.org/">www.PACER.org</a> </div>
			</div></td>
	</tr>
</table>
</body>
</html>