<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pacer Center Invites You</title>
<style type="text/css">
body {
	background-image: url('http://www.pacer.org/newsletters/eblast/images/intricate-background.gif');
	background-repeat: repeat-y no-repeat;
	background-position: top center;
	background-color: #FFF;
   	margin: 0;
   	padding: 0;
}
</style>
</head>

<body style="margin:0; padding:0; width:100% !important;" >



<table width="800" cellpadding="0" cellspacing="0" border="0" background="http://www.pacer.org/newsletters/eblast/images/intricate-background.gif">
  <tr>
    <td align="center" >
    <table width="600" cellpadding="50" cellspacing="0" border="0">
        <tr>
          <td align="center"><img src="http://www.pacer.org/newsletters/eblast/images/spacer1x800.gif" width="1" height="398" alt="" align="left" /><img src="http://www.pacer.org/newsletters/eblast/images/Crown.jpg" width="75" height="57" alt="" />
             <p>PACER Center is pleased to invite you to the</p>
            <p style="font-size:1.2em; font-style:italic"><strong>31st Annual Volunteer Appreciation Luncheon<br />
             Friday, June 24, at 11:30 a.m.</strong></p>
             <p>at PACER Center<br />
               8161 Normandale Boulevard<br />
           Minneapolis, MN 55437</p>
           <p>We invite attendees to wear hats, fascinators, or any other type of millinery fit for a royal affair.</p>
           <p>Please RSVP to Lynn Dennis by June 15 at 952-838-1414 or <a href="mailto:lynn.dennis@PACER.org">lynn.dennis@PACER.org</a>.</p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>  
</html>
