<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pacers 28th Annual Benefit Featuring Lyle Lovett and His Large Band</title>
<style type="text/css">
a:link, a:visited {
	color:#000;
	text-decoration:none;
	border-bottom:solid 1px #069;
}
</style>
</head>

<body>
<table width="1000" align="center"><tr><td align="left">
<div id="viewWeb" style="padding-bottom:5px;" align="center"> <img src="http://www.pacer.org/images/ff_1x1_workaround.gif" width="1" height="1" style="display:none" alt="" /><img src="http://www.pacer.org/images/ff_1x1_workaround_grey_cccccc.jpg" width="1" height="1" style="display:none" alt="" /> 

<a style="color:#999; font-size:.9em;" href="http://www.pacer.org/bullying/emails/2011-11-04-survey.html">If this message is not displaying properly, click here to launch your browser.</a>. </div>
<p>Dear Friends,</p>
        <p><strong>We just heard the Simon and Garfunkel concert has been&nbsp;</strong>&nbsp;<strong>postponed</strong>&nbsp;<strong> for May 8th! So, if you and your friends had tickets, you can still  have a night out at PACER&rsquo;s Benefit. </strong></p>
      <p>We would be thrilled if you would  join us again this year for <strong>PACER's  28th Annual Benefit on May 8, 2010</strong> featuring <strong>Lyle Lovett and His Large  Band!</strong> We have received so many positive comments about Lyle  Lovett &ndash; <strong>everyone  loves his exciting performances</strong> and the blend of music! <strong><u>Don't miss it!</u></strong> </p>
      <p>Click the image below for more information and to purchase  tickets. All proceeds will go to PACER&rsquo;s programs for children with  disabilities as well as our bullying prevention program for all children&nbsp;.  
        Please feel free to send this to your friends and  family.&nbsp;&nbsp;<br />
        </p>
      <p>Thank you,</p></td></tr>
<tr><td align="center">
	<a href="http://www.pacer.org/benefit/index.asp"><img src="http://www.pacer.org/newsletters/eblast/images/supervalue_eventcard.jpg" alt="" width="1000" height="663" /></a>
</td></tr>
</table>
</body>
</html>
