<ul>
	<li class="hasSubNav"><a id="resources" href="/parent/">Special Education Resources</a>
    	<ul id="resources-sub" class="treemenu">
       		<li><a id="resources-featured" href="/parent/">Featured Resources</a></li>
    		<li><a id="resources-speced" href="/parent/resources/understanding-the-spec-ed-process.asp">Understanding the Special Education Process</a></li>
       		<li><a id="resources-communication" href="/parent/resources/improve-communications.asp">Improve Communications with School Staff</a></li>
    		<li><a id="resources-iepteam" href="/parent/resources/who-is-on-my-childs-iep-team.asp">Who is on my Child&rsquo;s IEP Team?</a></li>
			<li><a id="resources-discipline" href="/school-discipline-information/">Step by Step School Discipline Guide <span class="fa fa-external-link"></span></a></li>
        </ul>
    </li>
    <li><a id="section504" href="/parent/504/">Section 504</a></li>
    <li><a id="concerns" href="/parent/top10-parent-concerns.asp">Top 10 Parents Concerns</a></li>
	<li><a id="video" href="/parent/videos-trainings.asp">Special Education Videos</a></li>
	<li><a id="publications" href="/parent/publications.asp">Special Education Rights Publications</a></li>
	
    <li><a id="swa" href="/parent/mn-statewide-assessment/">MN Statewide Assessment Testing</a></li>
    <li class="hasSubNav"><a id="surrogate" href="/parent/surrogate/">Surrogate Parents</a>
    	<ul id="surrogate-sub" class="treemenu">
       		<li><a id="surrogate-guidelines" href="/parent/surrogate/">Surrogate Parents Laws and Guidelines</a></li>
    		<li><a id="surrogate-role" href="/parent/surrogate/learn-the-surrogate-role.asp">Learn the Surrogate Parent Role</a></li>
			<li><a id="surrogate-faq" href="/parent/surrogate/faq.asp">Frequently Asked Questions</a></li>
        </ul>
    </li>
	<li><a id="dropout" href="/parent/dropout-prevention">Student Dropout Prevention</a></li>
    
    <li><a id="links" href="/parent/links.asp">Recommended Organizations by Category</a></li>
</ul>
